@{
    Layout = "~/Views/Shared/Admin_Layout.cshtml";

}

@model StockTradingPlatform.Models.StockManager
@{
    ViewBag.Title = "AddStock";

}


<script src="~/Scripts/Admin/Add_Stock.js"></script>
<link href="~/Styles/Add_Stock.css" rel="stylesheet" />


    <div class="text-center text-primary"><h2>Add New Stock</h2></div>

    @using (Html.BeginForm())
    {
    <div class="container">

        <table class="table table-striped">
            <tr>

                <th>
                    STOCK NAME

                </th>
                <th>
                    OUTSTANDING SHARES
                </th>
                <th>
                    PRICE
                </th>
                <th>
                    STATUS
                </th>
                
            </tr>


            @foreach (var item in Model.StpDBEntities.tblMarketdatas)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.stockName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.qty)
                    </td>


                    <td>
                        @Html.DisplayFor(modelItem => item.currentPrice)
                    </td>
                    <td>
                        
                            @if(item.status == "N")
                                {
                              <button name="submit" type="submit" id="submit" value=@item.id class=" btn btn-primary" >Add</button>
                            }
                            else {
                              <b>Already Added</b>
                            }




                    </td>
                    
                   
                </tr>
            }

        </table>


    </div>


    }
   




