@{
    Layout = "~/Views/Shared/Admin_Layout.cshtml";

}
@{
    ViewBag.Title = "Admin Dashboard";
}


<h2>Admin DashBoard</h2>
@Html.Partial("InfoCardPartialView")
<br/><br/><br/>
@Html.Partial("PieChartForDashboard")
 



